*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


/* ===============================           sidefixed          =======================================*/
.sidefixed{
    position: fixed;
    right: 0px;
    top: 200px;
    z-index: 3;
}

.sidefixed div{
    width: 60px;
    height: 50px;
    background-color: rgb(243, 243, 143);
    margin: 10px 5px 10px 0px;
    color: black;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    border-radius: 150px;
}

@media(max-width:1024){
    .sidefixed{
        position: fixed;
        right: 0px;
        top: 200px;
        z-index: 3;
    }

}
@media(max-width:768px){
    .sidefixed{
       top: 100px;
    }
}


@media(max-width:425px){
    .sidefixed{
        top: 60px;
    }
    
    .sidefixed div{
        width:50px;
        height: 50px;
        margin: 5px 0px 5px 0px;
        padding-top: 15px;
        font-size: 10px;
        border-radius: 50%;
    }  
}
@media(max-width:375px){
    .sidefixed{
        top: 70px;
    }
    
    .sidefixed div{
        width: 50px;
        height: 50px;
        margin: 5px 0px 5px 0px;
        padding-top: 15px;
        font-size: 10px;
        border-radius: 50%;
    }  
}
@media(max-width:320px){
    .sidefixed{
        top: 70px;
    }
    
    .sidefixed div{
        width: 50px;
        height: 50px;
        margin: 5px 0px 5px 0px;
        padding-top: 15px;
        font-size: 10px;
        border-radius: 50%;
    }  
}
/* ================================            header            ====================================== */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid grey;
    position: sticky;
    top: 0px;
    background-color: white;
}

.header article{
    display: flex; 
}

.header article div{
    margin: 20px;
}

.header article div a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.header article .beauty{
    font-size: 35px;
    font-family: cursive;
    color: crimson;
    font-weight: bold;
}

@media(max-width:1024px){
    .header{
        padding: 5px;
    }
    .header article div{
        margin: 5px;
    }

}
@media(max-width:768px){
    
    .header{
        padding: 10px;
    }
    .header article div a{
        font-size: 15px;
    }
    .header article .beauty{
        font-size: 15px;
    }
}

/* ==============================================         mobile nav         =================================*/
#smallnav{
    display: none;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
}
#smallnav article{
    margin: 5px;
    align-items: center;
}
#shownav article div {
    padding: 10px;
}
#shownav article div a{
    text-decoration: none;

    list-style: none;

}
#smallnav article h1 .bar{
    color: crimson;
}
#shownav{
    width: 300px;
    background-color: black;
    height: 50vh;
    position: absolute;
    top: 60px;
    left: -400px;
   
}
#shownav article div a{
    color: white;
    padding: 10px;
}

@media(max-width:426px){
    .header{
        display: none;
    }
    #smallnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 50px 10px 50px;
    }
    #shownav{
        width: 150px;
        background-color: black;
        height: 70vh;
        position: absolute;
        top: 0px;
        left: -400px;
    }
    #smallnav article div i{
        font-size: 20px;
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px;
    }

    #input1:checked ~ #shownav{
        left: 0px;
        transition: left 2s;
    }
}
/* =======================  home   ========================================    */

.home{
    background-image: url(https://i.etsystatic.com/16895977/r/il/69634d/4897961404/il_570xN.4897961404_7839.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home  div{
    font-size: 70px;
    font-weight: bold;
    padding-left: 150px;
    padding-top: 200px;
    color: white;
}

@media(max-width:1024px){
    .home{
        height: 90vh;
    }
    .home  div{
        font-size: 60px;
        ;
    }
}
@media(max-width:768px){
   .home{
   height: 80vh; }

    .home  div{
        font-size: 60px;
        font-weight: bold;
        padding-left: 100px;
        padding-top: 100px;
    }
}
@media(max-width:426px){
    .home{
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }
    .home  div{
        font-size: 50px;
        font-weight: bold;
        padding-left: 50px;
        padding-top: 70px;
    }
}
@media(max-width:376px){
    .home{
        height: 50vh;
        background-size: auto;
    }
    .home  div{
        font-size: 40px;
        font-weight: bold;
        padding-left: 50px;
        padding-top: 50px;
    }
}
@media(max-width:320px){
    .home{
        height: 40vh;
        background-size: auto;

    }
    .home  div{
        font-size: 30px;
        font-weight: bold;
        padding-left: 50px;
        padding-top: 70px;
    }
}

/*=======================    Home1     ======================================== */
.home1{
    background-image: url(all\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.homeA{
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
    color: purple;
    text-align: center;
}

.homeB{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    color: palevioletred;
    text-align: center;  
}

.homeC{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: rgb(156, 3, 156);
    text-align: center;
}

@media(max-width:768px){
    .homeB{
        font-size: 40px;
    }
    
    .homeC{
        font-size: 15spx;
    }
}
@media(max-width:425px){
    .homeB{
        font-size: 25px;
    }
    
    .homeC{
        font-size: 15px;
    }
}
@media(max-width:375px){
    .homeB{
        font-size: 20px;
    }
    
    .homeC{
        font-size: 15px;
    }
}
.home1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    background-color: grey;
    }
    
.home1 article{
       width: 450px; 
       height: 350px;
       background-color: whitesmoke;
       margin: 30px;
       overflow: hidden;
       padding: 30px;
       text-align: center;
    }
.home1 article div img{
        /* mix-blend-mode: color-burn; */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 10px;
    }
    
.home1 article .pname{
        font-size: 20px; 
        color: black;
        font-weight: bold;
        padding: 10px;
    }

.home1 article .qname{
    font-size: 20px;
    color: brown;
    padding: 10px;
}
@media(max-width:1024px){
 .home1 article{
            width: 350px; 
            height: 380px;
            background-color: whitesmoke;
            margin: 20px;
            overflow: hidden;
            padding: 20px;
            text-align: center;
         }
         .home1{
            height: 70vh;
        }
}
@media(max-width:769px){
        .home1 article{
            width: 300px; 
            height: 350px;
         }
         .home{
            height: 50vh;
         }
         .home1 article{
            width: 280px; 
            height: 370px;
            background-color: whitesmoke;
            margin: 10px;
            overflow: hidden;
            padding: 10px;
         }
}
@media(max-width:426px){
    .home1{
        grid-template-columns: auto;
        height: 120vh;
        }
        .home1 article{
            width: 280px; 
            height: 370px;
            background-color: whitesmoke;
            margin: 0px;
            overflow: hidden;
            padding: 10px;
         }
        }
@media(max-width:320px){
    .home1{
        grid-template-columns: auto;
        height: 100vh;
        }
        
    .home1 article{
           width: 280px; 
           height: 260px;
           margin: 0px;
           overflow: hidden;
           padding: 0px;
}
.home1 article div img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 0px;
}

.home1 article .pname{
    font-size: 10px; 
    padding: 15px;
}

.home1 article .qname{
font-size: 10px;
color: brown;
padding: 5px;
}
}
/* ==================================      home2             =============================================== */
.home2{
    background-image: url(prodct\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.home2 .home2A{
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    color: crimson;
    text-align: center;
}

.home2 .home2B{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    color: palevioletred;
    text-align: center;  
}

.home2 article{
    display: flex;
    justify-content: center;
    text-align: center;
}

.home2 article div{
    font-size: 40px;
    font-weight: bold;
    margin: 40px;
}

@media(max-width:1024px){
    .home2{
        height: 50vh;
        padding-top: 10px;
    }
    .home2 article div{
        font-size: 30px;
    }
}
@media (max-width:768px){
    .home2 article div{
        font-size: 30px;
        font-weight: bold;
        margin: 40px;
    }
}
@media(max-width:426px){
    .home2{
        height: 30vh;
    }
    
    .home2 .home2A{
        font-size: 20px;
        padding-top: 10px;
    }
    
    .home2 .home2B{
        font-size: 20px;
        padding: 5px;
    } 
    .home2 article div{
        font-size: 10px;
        font-weight: bold;
        margin: 5px;
    } 
}
/* ================================        home3             =================================================       */

 .home3{
    background-image: url(all\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 210vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.home3A{
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    color: crimson;
    text-align: center;
}

.home3B{
    font-size: 20px;
    padding: 10px;
    color: black;
    text-align: center;  
}


    
.home3 article{
       width: 420px; 
       height: 430px;
       background-color: whitesmoke;
       margin: 20px;
       overflow: hidden;
       padding: 30px;
       text-align: center;
    }
.home3 article div img{
        /* mix-blend-mode: color-burn; */
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: 10px;
    }
    
.home3 article .pname{
        font-size: 20px; 
        color: black;
        font-weight: bold;
        padding: 10px;
    }

.home3 article .qname{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.659);
    padding: 10px;
}

@media(max-width:1024px){
    .home3{
        height: 320vh;
        grid-template-columns: auto auto;
    }
}
    
@media(max-width:769px){
    .home3{
        height: 440vh;
        grid-template-columns: auto auto;
    }     
    .home3 article{
           width: 250px; 
           height: 430px;
           margin: 10px;
           overflow: hidden;
           padding: 0px;
           text-align: center;
        }
    .home3 article div img{
            /* mix-blend-mode: color-burn; */
            width: 100px;
            height: 100px;
        }
        
    .home3 article .pname{
            padding: 5px;
        }
    
    .home3 article .qname{
        padding: 5px;
    }
}
  @media(max-width:426px){
    .home3{
        height: 700vh;
        display: grid;
        grid-template-columns: auto;
    }
    
    .home3A{
        font-size: 20px;
    }
    
    .home3B{
        font-size: 15px;
        padding: 0px;
    }   
    .home3 article{
           width: 290px; 
           height: 470px;
           padding: 0px;
    }
  } 
  @media(max-width:320px){
    .home3{
        height: 700vh;
        display: grid;
        grid-template-columns: auto;
    }
    
    .home3A{
        font-size: 20px;
    }
    
    .home3B{
        font-size: 15px;
        padding: 0px;
    }   
    .home3 article{
           width: 270px; 
           height: 430px;
           padding: 5px;
    } 
  }

/* ==================================           home4        ============================================ */

.home4{
    background-image: url(homebg1.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.home4A{
    font-size: 60px;
    font-weight: bold;
    padding-top: 50px;
    color: crimson;
    text-align: center;
}

.home4B{
    font-size: 30px;
    padding: 20px;
    color: brown;
    text-align: center;  
}

.home4C{
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    color: purple;
    text-align: center;
}

.home4D{
text-align: center;
padding: 50px;
font-size: 40px;
}

.home4D a{
    text-decoration: none;
    border: 2px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: black;
    color: white; 
}

@media(max-width:1024px){
   .home4C{
    padding-top: 30px;
}

.home4D{
padding: 30px;
}
}

@media(max-width:426px){
    .home4{
        height: 40vh;
    }
    .home4A{
        font-size: 30px;
        padding-top: 20px;
    }
    
    .home4B{
        font-size: 20px;
        padding: 5px;
    }
    
    .home4C{
        font-size: 25px;
        padding-top: 20px;
    }
    
    .home4D{
    padding: 30px;
    font-size: 20px;
    }
}

@media(max-width:320px){
    .home4{
        height: 40vh;
    }
    .home4A{
        font-size: 30px;
        padding-top: 20px;
    }
    
    .home4B{
        font-size: 15px;
        padding: 5px;
    }
    
    .home4C{
        font-size: 20px;
        padding-top: 20px;
    }
    
    .home4D{
    padding: 30px;
    font-size: 20px;
    }
}

/* ==================================           home5        =========================================== */
.customer{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: crimson;
    padding-top: 100px;
}
.home5{
    background-image: url(all\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding-top: 100px;
}

.home5{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    background-color: orange;
    }
    
.home5 article{
       width:250px; 
       height: 300px;
       background-color: rgb(249, 230, 249);
       margin: 20px;
       overflow: hidden;
       padding: 30px;
       text-align: center;
    }
.home5 article div img{
        /* mix-blend-mode: color-burn; */
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 0px;
    }
    
.home5 article .pname{
        font-size: 20px; 
        color: black;
        font-weight: bold;
        padding: 5px;
    }

.home5 article .qname{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.659);
    padding: 5px;
}

@media(max-width:1024px){
    .customer{
        font-size: 40px;
        padding-top: 50px;
    }
    .home5{
        height: 70vh;
        padding-top: 50px;
    }
    .home5{
        grid-template-columns: auto auto auto auto;
        }
        
    .home5 article{
           width:200px; 
           height: 380px;
           margin: 20px;
           padding: 30px;
        }
    .home5 article div img{
            width: 90px;
            height: 90px;
        }
    }
    @media(max-width:769px){
        .customer{
            font-size: 30px;
            padding-top: 30px;
        }
        .home5{
            height: 110vh;
            padding-top: 00px;
        }
        .home5{
           grid-template-columns: auto auto;
            }
            
        .home5 article{
               width:290px; 
               height: 340px;
               margin: 20px;
               padding: 30px;
            }
        .home5 article div img{
                width: 100px;
                height: 100px;
            }
    }
    @media(max-width:426px){
        .customer{
            font-size: 20px;
            padding-top: 20px;
        }
        .home5{
            height: 220vh;
            padding-top: 20px;
        }
        .home5{
           grid-template-columns: auto;
            }
            
        .home5 article{
               width:260px; 
               height: 320px;
               margin: 20px;
               padding: 30px;
            }
        .home5 article div img{
                width: 100px;
                height: 100px;
            }
    }

    @media(max-width:320px){
        .customer{
            font-size: 20px;
            padding-top: 10px;
        }
        .home5{
            height: 220vh;
            padding-top: 10px;
        }
        .home5{
           grid-template-columns: auto;
            }
            
        .home5 article{
               width:230px; 
               height: 330px;
               margin: 20px;
               padding: 30px;
            }
        .home5 article div img{
                width: 90px;
                height: 90px;
            }
    }

/* ============================         footer                  ============================================== */
 
footer{
    border: 1px solid grey;
    padding-bottom: 20px;
    margin-top: 50px;
}
.footer_heading{
   text-align: center;
   font-family: cursive;
   font-weight: bold;
   font-size: 20px;
   color: crimson;
}

.social_icon{
    display: flex;
    justify-content: center;
}
.social_icon li{
    margin: 20px;
    list-style-type: none;
}


.social_icon li a{
    list-style-type: none;
}


.main_nav{
    list-style-type: none;
    text-decoration: none;

}
.main_nav li{
    text-align: center;
}
.main_nav li a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

@media(max-width:426px){
    footer{
        margin-top: 70px;
    }
    .footer_heading{
       font-size: 10px;
      
    }
    .social_icon li{
        margin: 5px;
    } 
    .main_nav li a{
        margin: 5px;
        text-decoration: none;
        font-size: 15px;
    }  
}



/* ==========================================            About page         ==================================== */
.about{
    background-image: url(https://www.shutterstock.com/shutterstock/videos/1052556629/thumb/1.jpg?ip=x480);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.about div{
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 170px;
    padding-left: 600px;
    text-decoration: underline;
}

@media(max-width:1024px){
    .about{
        height: 50vh;
    }
   .about div{
    padding-top: 140px;
    padding-left: 400px;}
}

@media(max-width:769px){
    .about{
        height: 50vh;
    }
    .about div{
        padding-top: 120px;
        padding-left: 290px;}
}

@media(max-width:426px){
    .about div{
        padding-top: 130px;
        padding-left: 150px;
        font-size: 30px;
    }
}

@media(max-width:320px){
    .about div{
        padding-top: 130px;
        padding-left: 100px;
    }
}
/* ==========================================            About 1 page         ====================================== */
.about1{
    background-image: url(all\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    padding: 25px;
}
.aboutA{
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    color: crimson;
    text-align: center;
}

.aboutB{
    font-size: 30px;
    padding: 20px;
    color: brown;
    text-align: center;  
}

.aboutC{
    font-size: 20px;
    padding-top: 20px;
    color: black;
    text-align: center;
}

.about1 article div img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

@media(max-width:1024px){
    .about1 article div img{
        width: 400px;
        height: 400px;
    } 
}
@media(max-width:769px){
    .about1{
        height: 70vh;
        justify-content: space-evenly;
        padding: 0px;
    }
    .aboutA{
        font-size: 20px;
        padding-top: 20px;
    }
    
    .aboutB{
        font-size: 20px;
        padding: 10px; 
    }
    
    .aboutC{
        font-size: 10px;
        padding-top: 10px;
    }
    
    .about1 article div img{
        width: 300px;
        height: 300px;
    }  
}

@media(max-width:426px){
    .about1{
        height: 40vh;
        padding: 0px;
    }
    .aboutA{
        font-size: 10px;
        padding-top: 10px;
    }
    
    .aboutB{
        font-size: 10px;
        padding: 5px; 
    }
    
    .aboutC{
        font-size: 10px;
        padding-top: 5px;
    }
    
    .about1 article div img{
        width: 100px;
        height: 100px;
    }  
}
@media(max-width:320px){
    .about1{
        height: 40vh;
        padding: 0px;
    }
    .aboutA{
        font-size: 10px;
        padding-top: 5px;
    }
    
    .aboutB{
        font-size: 10px;
        padding: 5px; 
    }
    
    .aboutC{
        font-size: 8px;
        padding-top: 5px;
    }
    
    .about1 article div img{
        width: 100px;
        height: 100px;
    }  
}

/* ===================================          about2      ================================ */

.about2{
    height: 50vh;
    padding-top: 60px;
    background-image: url(all\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.about_heading{
    font-size: 40px;
    font-weight: bold;
    color: crimson;
    text-align: center;
}
.about2{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: white;
    }
    
.about2 article{
       width:360px; 
       height: 300px;
       margin: 20px;
       overflow: hidden;
       padding: 10px;
       text-align: center;
    }

.about2 article div img{     
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 0px;
    }
    
.about2 article .pname{
        font-size: 30px; 
        color: black;
        padding: 5px;
    }

.about2 article .qname{
    font-size: 20px;
    color: black;
    padding: 5px;
}
 @media(max-width:1024px){
    .about{
       height: 100vh;
    }
    .about2 article{
        width:300px; 
        height: 270px;
        margin: 20px;
        overflow: hidden;
        padding: 5px;
        text-align: center;
     }
 
 .about2 article div img{     
         width: 90px;
         height: 90px;
         border-radius: 50%;
         padding: 0px;
     }
     
 .about2 article .pname{
         font-size: 25px; 
         color: black;
         padding: 5px;
     }
 
 .about2 article .qname{
     font-size: 20px;
     color: black;
     padding: 5px;
 }
 }
 @media(max-width:769px){
    .about2{
        height: 40vh;
        padding-top: 30px;
    }
    .about_heading{
        font-size: 30px;
    }    
    .about2 article{
           width:230px; 
           height: 370px;
           margin: 10px;
        }
    .about2 article div img{     
            width: 80px;
            height: 80px;
        }
        
    .about2 article .pname{
            font-size: 20px; 
            color: black;
            padding: 5px;
        }
    
    .about2 article .qname{
        font-size: 10px;
        color: black;
        padding: 5px;
    }
 }
 @media(max-width:426px){
    .about2{
        height: 110vh;
        padding-top: 15px;
    }
    
    .about_heading{
        font-size: 20px;
    }
    .about2{
        display: grid;
        grid-template-columns: auto;
        }
        
    .about2 article{
           width:270px; 
           height: 300px;
           margin: 0px;
           padding: 0px;
        }
    
    .about2 article div img{     
            width: 70px;
            height: 70px;
        }
        
    .about2 article .pname{
            font-size: 20px; 
            color: black;
            padding: 5px;
        }
    
    .about2 article .qname{
        font-size: 10px;
        color: black;
        padding: 5px;
    }
 }

 /* =================================             product page           ========================================================= */
 .product{
    background-image: url(https://st2.depositphotos.com/16122460/46328/i/450/depositphotos_463280796-stock-photo-workplace-hair-dye-kit-beauty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
 }

 .product div{
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    padding-top: 250px;
    padding-left: 240px;
 }

 @media(max-width:1024px){
    .product{
        height: 70vh;
     }
    
     .product div{
        padding-top: 120px;
        padding-left: 100px;
     }
    
 }

 @media(max-width:768px){
    .product{
        height: 70vh;
     }
    
     .product div{
        font-size: 40px;
        padding-top: 150px;
        padding-left: 120px;
     }
 }
 @media(max-width:425px){
    .product{
        height: 50vh;
     }
    
     .product div{
        font-size: 20px;
        padding-top: 50px;
        padding-left: 50px;
     }  
 }

 @media(max-width:375px){
    .product{
        height: 50vh;
     }
    
     .product div{
        font-size: 20px;
        padding-top: 110px;
        padding-left: 110px;
     }  
 }
 @media(max-width:320px){
    .product{
        height: 50vh;
     }
    
     .product div{
        font-size: 20px;
        padding-top: 90px;
        padding-left: 90px;
     }  
 }
 /* ======================================              product 1            =================================================== */
 .cart{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    height: 160vh;
    }
    
.cart article{
       width: 300px; 
       height: 400px;
       margin: 20px;
       overflow: hidden;
       padding: 40px;
       text-align: center;
    }
    
.cart article div img{
        width: 300px;
        height: 300px;   
    }
    
.cart article .pname{
        font-size: 25px; 
        color: black;
        padding: 5px;
    }

.cart article .star{
    padding: 5px;
}
.cart article .price{
    color: grey;
    padding: 5px;
}
.cart article .btn a{
    text-decoration: none;
    border: 2px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: black;
    color: white; 
}  
#secondnavmid{
    border: 2px solid rgb(14, 153, 188);
    padding: 16px;
    width: 660px;
    border-radius: 10px;
   margin-left: 400px;
   margin-top: 50px;
}

#secondnavmid input,select{
    border: none;
    outline: none;
}

#secondnavmid input{
    width: 500px;
} 
@media(max-width:1024px){
        
    .cart article{
           width: 250px; 
           height: 490px;
           margin: 20px;
           overflow: hidden;
           padding: 25px;
           text-align: center;
        }
    #secondnavmid{
       margin-left: 190px;
       margin-top: 50px;
       width: 660px;
    }
        
} 
@media(max-width:768px){ 
    .cart{
        padding: 0px;
        height: 130vh;
    }
    .cart article{
           width: 200px; 
           height: 450px;
           padding: 0px;
        }
        
    .cart article div img{
            width: 150px;
            height: 150px;   
        }
        
    #secondnavmid{
        border: 2px solid rgb(14, 153, 188);
        padding: 10px;
        width: 450px;
        border-radius: 10px;
       margin-left: 200px;
        }
    #secondnavmid input{
        width: 300px;
    } 
        
}
@media(max-width:426px){
    .cart{
        grid-template-columns: auto;
        height: 210vh;
        }
        
    .cart article{
           width: 150px; 
           height: 210px;
           margin: 10px;
           padding: 10px;
        }
        
    .cart article div img{
            width: 100px;
            height: 100px;   
        }
        
    .cart article .pname{
            font-size: 15px; 
            color: black;
            padding: 0px;
        }
    
    .cart article .star{
        padding: 0px;
    }
    .cart article .price{
        color: grey;
        padding: 0px;
    }
    .cart article .btn a{
        border: 1px;
        border: 1px solid black;
        border-radius: 40px;
    }  
    #secondnavmid{
        border: 1px solid rgb(14, 153, 188);
        padding: 6px;
        width: 330px;
        border-radius: 10px;
       margin-left: 30px;
       margin-top: 50px;
    }
    
    #secondnavmid input,select{
        border: none;
        outline: none;
    }
    
    #secondnavmid input{
        width: 150px;
}
}
/* =========================================                  Services         ======================================================= */
.service{
    background-image: url(servicebg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.service div{
font-size: 60px;
font-weight: bold;
color: white;
text-decoration: underline;
padding-left: 490px;
padding-top: 170px;
}

@media(max-width:1024px){
    .service{
        height: 50vh;
    }
    .service div{
    font-size: 60px;
    padding-left: 300px;
    padding-top: 140px;
    }  
}

@media(max-width:768px){
    .service{
        height: 50vh;
    }
    .service div{
        font-size: 50px;
        padding-left: 210px;
        padding-top: 140px;
    }
}

@media(max-width:426px){
    .service{
        height: 30vh;
    }
    .service div{
        font-size: 30px;
        padding-left: 110px;
        padding-top: 50px;
    }
}
@media(max-width:375px){
    .service{
        height: 30vh;
    }
    .service div{
        font-size: 30px;
        padding-left: 50px;
        padding-top: 50px;
    }
}

@media(max-width:320px){
    .service{
        height: 30vh;
    }
    .service div{
        font-size: 25px;
        padding-left: 80px;
        padding-top: 60px;
    }
}

/*====================================               service 1               ========================================= */
.service1{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

}     
.service1 article{
       width: 270px; 
       height: 270px;
       overflow: hidden;
       padding: 40px;
       text-align: center;
       background-color: whitesmoke;
       margin: 20px;
       border-radius: 50%;
    }
    
.service1 article div img{
        width: 150px;
        height: 150px;   
        border-radius: 50%;
    }

.service1 article .pname{
    font-size: 20px;
    font-weight: bold;
}

.service1 article .price{
    font-size: 20px; 
    color: grey;   
} 
@media(max-width:768px){

    .service1{
        grid-template-columns: auto auto;
    }
    .service1 article{
        width: 270px; 
        height: 270px;
        padding: 40px;
     }
}

@media(max-width:425px){
    .service1{
        grid-template-columns: auto;
    }
    .service1 article{
        width: 250px; 
        height: 250px;
        padding: 40px;
        margin: 20px;
        border-radius: 50%;
     }
 
 .service1 article .pname{
     font-size: 15px;
 }
 
 .service1 article .price{
     font-size: 15px;   
 } 
 
}

@media(max-width:320px){
    .service1 article{
       width: 250px; 
       height: 250px;
       padding: 30px;
       border-radius: 50%;
    }
    .service1 article div img{
        width: 130px;
        height: 130px;   
        border-radius: 50%;
    }
.service1 article .pname{
    font-size: 10px;
}

.service1 article .price{
    font-size: 10px;   
} 
}

/* ============================                  contact page                 ============================================= */
.contact{
    background-image: url(contactbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.contact div{
font-size: 60px;
font-weight: bold;
color: white;
text-decoration: underline;
padding-left: 400px;
padding-top: 150px;
}

@media(max-width:1024px){
    .contact div{
        padding-left: 360px;
    }
}
@media(max-width:768px){
    .contact div{
        padding-left: 260px;
        padding-top: 130px;
    }
}
@media(max-width:426px){
    .contact{
        height: 40vh;
    }
    .contact div{
        padding-left: 100px;
        padding-top: 100px;
        font-size: 30px;
    } 
}
@media(max-width:320px){
    .contact{
        height: 40vh;
    }
    .contact div{
        padding-left: 110px;
        padding-top: 100px;
        font-size: 30px;
    } 
}

.contactinfo{
    min-height: 100px;
    background-color: whitesmoke;
    padding: 50px;
    text-align: center;
}
.container{
    min-width: 100px;
    margin: 0px auto;  
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: black;
}
.contact1{
    display: grid;
    grid-template-columns:auto auto;
}

.contact_form{
    text-align: left;
}
.contact_form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}
.form_group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: black;
}
input:focus,textarea:focus{
    outline: none;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.904);
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(238, 221, 221);
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
background-color: rgb(231, 193, 120);
}
.contact_info{
    text-align: center;
}
.contact_info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}
.contact_info p{
    margin-bottom: 10px;
    color: black;
}
.contact_info i{
    color: black;
    margin-right: 10px;
}
@media(max-width:768px){
    .contactinfo{
        min-height: 70px;
    }
    .container{
        min-width: 700px;
        margin: 0px auto;  
    }
    
    input, textarea{
        width: 70%;
    }
}
@media(max-width:425px){
    .contactinfo{
        min-height: 50px;
        padding: 50px;
    }
    .container{
        min-width: 100px;
    }
    .container h2{
        font-size: 36px;
    }
    .contact1{
        display: grid;
        grid-template-columns:auto;
    }
    
    .contact_form{
        text-align: left;
    }
    .contact_form h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .form_group{
        margin-bottom: 20px;
    }
    input, textarea{
        width: 100%;
        padding: 12px;
        border-radius: 8px;
    }
    .contact_info{
        text-align: center;
        padding-top: 30px;
    }
    .contact_info h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
}
@media(max-width:375px){
    .contactinfo{
        min-height: 50px;
        padding: 50px;
    }
    .container{
        min-width: 100px;
    }
    .container h2{
        font-size: 30px;
    }
    
    .contact_form h3{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .form_group{
        margin-bottom: 10px;
    }
    input, textarea{
        width: 70%;
        padding: 12px;
        border-radius: 5px;
    }
    .contact_info{
        text-align: center;
        padding-top: 20px;
    }
    .contact_info h3{
        font-size: 15px;
        margin-bottom: 10px;
    }
    
}

/* ===========================                Login page               ====================== */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(loginbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main{
    width: 420px;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px grey;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

.main h1{
    font-size: 36px;
    text-align: center;
}

.main .input_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px  0;
}

.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input_box input ::placeholder{
color: white;
}

.input_box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.main .remember_forget{
  display:flex ;
    justify-content: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember_forget label input {
    accent-color: white;
    margin-right: 5px;  
}

.remember_forget a {
    color: white;
    text-decoration: none;
}

.remember_forget a:hover {
    text-decoration: underline;
}

.main .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: grey;
    font-weight: 600;
}

.main .register_link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register_link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register_link p a :hover {
    text-decoration: underline;
}
@media(max-width:426px){
    .main{
        width: 300px;
    }
}

